body,
html,
#root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 20px;
}

.img-fluid {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
